<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Chuck App</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="home">Home</a>

  <a mat-button routerLink="chuck-list">Joke List</a>
</mat-toolbar>


<!-- <app-chuck-card [joke]="jokeText" (likeClicked)="likeClicked()"></app-chuck-card>

<p *appDuplicate="duplicateTitle">
  {{ title | suffix:' joke':4 }}
</p> -->

<router-outlet></router-outlet>
